#side-menu {
    background: #96897f;
    height: 100vh;
    width: 18vw;
    float: left;
}

#image-post {
    height: 34vh;
}

#posts{
    margin-top: 16vh;
}

.col-auto {
    min-width: 18vw;
}

.card {
    padding-bottom: 1px;
}

.card-img-top {
    width: 15vw;
}

.card-block {
    margin: 3vw;
}

.search {
    position: relative;
}

.search input {
    height: 60px;
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
}

.loading {
    display: flex;
}

.loading img {
    margin: 0 auto;
    padding-top: 90px;
}