.home-page .side-bar {
    position: absolute;
    background-color: white;
    height: 100vh;
    width: 80vw;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 8px 20px 2px;
}

.home-page .side-bar .items li {
    cursor: pointer;
    font-size: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 3px 0px;
}

.home-page .side-bar .items li:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 3px 0px;
}

.home-page .publication {
    display: grid;
    grid-template-columns: 6fr 8fr;
    margin-bottom: 25px;
    cursor: pointer;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
}

.home-page #image-post {
    width: 100%;
}

.home-page .post-data {
    padding: 20px;
}

.home-page .post-data #price {
	padding-top: 15px;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination .page-item {
    cursor: pointer;
    padding: 8px;
}

.pagination .page-item:hover {
    opacity: .6;
}