.home-page .publication {
    display: grid;
    grid-template-columns: 6fr 8fr;
    padding-bottom: 25px;
    cursor: pointer;
}

.home-page #image-post {
    width: 100%;
}

.home-page .post-data {
    padding: 20px;
}

.home-page .post-data #price {
	padding-top: 15px;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination .page-item {
    cursor: pointer;
    padding: 8px;
}

.pagination .page-item:hover {
    opacity: .6;
}