.publication {
    padding-bottom: 25px;
}

.publication #image-post {
    width: 100%;
}

.post-data {
	display: flex;
    justify-content: space-between;
}

.post-data #price {
	padding-top: 15px;
}