<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="home-page.css">

    <script src="../../utils/config.js"></script>

</head>


<body>
    <div id="app" class="home-page">
 
        <div v-if="showSideBar" class="side-bar">
            <button v-on:click="showSideBar = false">Close</button>
            <ul class="items">
                <li><a>My Profile</a></li>
                <li><a href="../../pages/home-page/">Search</a></li>
                <li><a href="../../pages/create-post/">Publish</a></li>
            </ul>
        </div>
        <button v-on:click="showSideBar = true">Open</button>
        
        <form action="../home-page/" method="GET" class="search center">
            <input :value="searched" type="text" id="search_bar" name="s" class="form-control" placeholder="Search products here">
        </form>

        <!-- <div id="side-menu" cla1ss="d-none d-md-inline"></div> -->
        <div v-if="posts" id="posts" class="center">
            <div v-for="(post, i) in posts" :key="i" @click="openPost(post._id)" class="publication">

                <img v-if="post.thumbnail" id="image-post" :src="`/backend/src/Images/${post.thumbnail}`">
                <img v-else id="image-post" src="https://media1.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif">
             
                <div class="post-data">
                    <h1 id="title" v-if="post.title">{{post.title}}</h1>
                    <h1 id="title" v-else>Loading title...</h1>

                    <span id="price" v-if="post.price">R$ {{post.price}}</span>
                    <span id="price" v-else>Loading price...</span>

                    <span id="description" v-if="post.description">{{post.description.length < 200 ? post.description : post.description.substring(0, 200) + ' ...' }}</span>
                </div>

            </div>
        </div>

        <div v-else class="loading">
            <img src="../../images/loading.gif" />
        </div>

        <ul v-if="pageCount && posts" class="pagination">
            <li class="page-item"><a class="page-link" onclick={previousPage()}>Previous</a></li>

            <li v-for="page in pageCount" class="page-item">
                <a class="page-link" :href=`?page=${page}`>{{page}}</a>
            </li>
            <li class="page-item"><a class="page-link" onclick={nextPage()}>Next</a></li>
        </ul>

    </div>


    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../../utils/main.js" defer></script>
    <script type="module">

        let app = Vue.createApp({
            data: function () {
                return {
                    showSideBar: false,
                    vars: {},
                    page: null,
                    pageSize: 10,
                    searched: null,
                    posts: null,
                    pageCount: null
                }
            },
            methods: {
                openPost(id) {
                    location.href = `../publication/?id=${id}`;
                }
            },
            mounted() {
                this.vars = urlToVars(location.href)
                this.page = this.vars.page ?? 1
                this.searched = this.vars.s

                axios
                    .get(`${config.api_url}/posts`, {
                        params: {
                            page: this.page,
                            pageSize: this.pageSize,
                            searched: this.searched
                        }
                    })
                    .then(response => (this.posts = response.data))

                axios
                    .get(`${config.api_url}/posts/count`)
                    .then(response => (this.pageCount = Math.ceil(response.data / 10)))
            }
        });

        app.mount('#app');

    </script>
</body>

</html>