.sidenav {
    height: 100%;
    width: 60%;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0; 
}

.sidenav-text{
    color: #fff;
    margin-left: 10%;
    margin-top: 10%;
}

.form {
    margin-left: 65%;
    margin-top: 10%;
}

.login-form input{
    padding-left: 10px;
    border-radius: 5px;
    background-color: #F0F0F0;
    border: 0;
    height: 40px;
    margin-bottom: 24px;
}
