#image-post {
    padding-top: 20px;
    width: 100%;
}

#price {
    display: block;
    text-align: end;
    font-size: 2em;
}

#title {
    padding-top: 15px;
}

#description {
    display: block;
    padding-top: 15px;
}