.post-info {
    width: 68%;
    margin: 0 auto;
}

.post-info div {
    display: flex;
    justify-content: space-between;
}

#price {
    padding-right: 2%;
    font-size: 2.3em;
}

#title {}

#description {}

@media (min-width: 1020px) {
    .publication .image-post {
        max-width: 50%;
    }

    .post-info {
        width: 50%;
    }
}